<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>LoCam uses the camera to take photos and record videos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>LoCam saves photos and videos to your photo library.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>LoCam uses the microphone to record sound when making videos.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>LoCam uses your location to tag where photos and videos are taken and print it on photos and videos.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow location updates while in background and using app?</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
